# Astria Vars (AI service)
# Get API key - https://www.astria.ai/users/edit#api
ASTRIA_API_KEY=你的真实 Astria API 密钥
ASTRIA_TEST_MODE=true
PACK_QUERY_TYPE=both
NEXT_PUBLIC_TUNE_TYPE=packs

# This can be any random string, it is used to secure the webhook endpoint.
APP_WEBHOOK_SECRET=qL7mRxC#uVwKfP5zDp3NjT4yJbA0Hg

# With vercel deploy supabase env vars are auto generated!
# Configure auth magic link & redirect urls > https://github.com/leap-ai/headshots-starter#5-magic-link-auth-supabase
# Locally get Supabase details from your project settings > API - https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=你的 Supabase 项目 URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=你的 Supabase 匿名密钥
SUPABASE_SERVICE_ROLE_KEY=你的 Supabase 服务角色密钥

# VERCEL BLOB VARS (Image storage service)
BLOB_READ_WRITE_TOKEN=你的 Blob 读写令牌

# RESEND VARS (Email service)
RESEND_API_KEY=你的 Resend API 密钥

# STRIPE VARS (Payment service)
STRIPE_SECRET_KEY=你的 Stripe 密钥
STRIPE_WEBHOOK_SECRET=你的 Stripe Webhook 密钥
STRIPE_PRICE_ID_ONE_CREDIT=你的 Stripe 产品 ID（一个 Credit）
STRIPE_PRICE_ID_THREE_CREDITS=你的 Stripe 产品 ID（三个 Credits）
STRIPE_PRICE_ID_FIVE_CREDITS=你的 Stripe 产品 ID（五个 Credits）
NEXT_PUBLIC_STRIPE_IS_ENABLED=false # 如果不使用 Stripe 付款系统可以保持为 false

# DEPLOYMENT
DEPLOYMENT_PROVIDER=vercel
VERCEL_URL=你的 Vercel 部署 URL (例如：headshots-starter.vercel.app)
